@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@{
    Layout = null;
}
<!--Screen for employees to input time sheet data.-->

<!--Get employee, time sheet and date objects from session.-->
@{
    ViewBag.Title = "TimeSheet";
    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
    </div>

    Employee emp = (Employee)Session["Employee"];
    List<TimeSheet> tsheets = (List<TimeSheet>)Session["TimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];

    //Calculating the total Weekly Hours worked
    int totalWeekly = 0;
    foreach (TimeSheet sheet in tsheets)
    {
        totalWeekly += sheet.CalculateTotalHoursWorked(sheet);
        Console.WriteLine("Running total:" + totalWeekly);
    }


    double overtimeHours = 1.5 * (totalWeekly - 40);

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Timesheet</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>

    <h2>Time Sheet</h2>
    <!--Get and display current date and time.-->
    @{ string today = DateTime.Now.ToLongDateString();
        string time = DateTime.Now.ToLongTimeString();}

    <p id="Time">It is @today at @time</p>
    <p style="text-align: center; color: white;">***Remember to enter your time in HH:MM AM/PM format***</p>

    <!--Table to display time sheet input form.-->
    <table style="width:100%" cellpadding="4">
        <colgroup span="4"></colgroup>
        <tr>
            <th></th>
            <th>Week end</th>
            <th>Date</th>
            <th>Start/ Time In</th>
            <th>Meal/ Time Out</th>
            <th>Meal/ Time In</th>
            <th>Finish/ Time Out</th>
            <th>Type of absence</th>
            <th>Absent hours</th>
            <th>Additional Hours</th>
            <th>Hours Worked</th>
            <th>Over Time</th>
            <th>Submitted</th>
        </tr>
        @{   for (int i = 0; i < 7; i++)
            {
                using (Html.BeginForm("SaveTimeSheet", "Timesheet", FormMethod.Post))
                {
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Id, new { @Value = @tsheets[i].Id.ToString().Trim(), @readonly = "readonly", style = "display: none; width: 100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.WeekEnding, new { @Value = @tsheets[i].WeekEnding.ToString().Trim(), @readonly = "readonly", style = "width: 100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.Date, new { @Value = @tsheets[i].Date.ToString().Trim(), @readonly = "readonly", style = "width: 100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.TimeIn, new { @Value = @tsheets[i].TimeIn.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.OutForLunch, new { @Value = @tsheets[i].OutForLunch.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.InFromLunch, new { @Value = @tsheets[i].InFromLunch.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.TimeOut, new { @Value = @tsheets[i].TimeOut.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.LeaveId, new { @Value = @tsheets[i].LeaveId.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.LeaveHours, new { @Value = @tsheets[i].LeaveHours.ToString().Trim(), style = "width: 50px;" })</td>
                        <td>@Html.TextBoxFor(model => model.AdditionalHours, new { @Value = @tsheets[i].AdditionalHours.ToString().Trim(), style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.TotalHoursWorked, new { @Value = @tsheets[i].TotalHoursWorked.ToString().Trim(), @readonly = "readonly", style = "width: 75px;" })</td>
                        <td>
                            @{
                                int overtime;
                                if (tsheets[i].TotalHoursWorked <= 8)
                                {
                                    overtime = 0;
                                }
                                else
                                {
                                    overtime = (int)tsheets[i].TotalHoursWorked - 8;
                                }

                            }
                            @overtime
                        </td>
                        <td>@Html.TextBoxFor(model => model.Submitted, new { @Value = @tsheets[i].Submitted.ToString().Trim(), @readonly = "readonly", style = "width: 75px;" })</td>
                        <td>@Html.TextBoxFor(model => model.AuthorizedBySupervisor, new { @Value = @tsheets[i].AuthorizedBySupervisor.ToString().Trim(), @readonly = "readonly", style = "display: none;" })</td>
                        <td>@Html.TextBoxFor(model => model.EmpId, new { @Value = @tsheets[i].EmpId.ToString().Trim(), @readonly = "readonly", style = "display: none;" })</td>
                        <td><input class="button" id="submit" type="submit" value="Save" /></td>
                    </tr>

                                    }
                                }
        }
        <tr>
            <th colspan="8">Total Absent Hours</th>
            <td><input type="text" name="totalAbsent" /></td>
            <th>Total Weekly Hours</th>
            <!-- code for the color warning system-->
            @{ if (totalWeekly > 30)
                {
                    <td bgcolor="red">@totalWeekly</td> }

                else if (totalWeekly < 20)
                {
                    <td bgcolor="green">@totalWeekly</td> }

                else
                {
                    <td bgcolor="yellow"> @totalWeekly</td> }

            }
        <tr>
            <th colspan="11">Overtime hours x1.5 to be added to prior FLSA comp balance.</th>
            @{ if (overtimeHours > 0)
                {
                    <td>@overtimeHours</td> }

                else
                {
                    <td></td>
                }
            }
        </tr>
    </table>
    
    <!--Submit Week button with popup validation-->
    @Html.ActionLink("Submit Week", "SubmitTimesheet", "Timesheet", new { confirm = true, test = "testing" }, new { @onclick = "return confirm('I acknowledge that the times I have inputted are correct')" })
    <br /><br />
    <!--Log out link-->
    <a href="@Url.Action("LogOut", "Login")">LogOut</a>

</body>

</html>

