@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@{
    Layout = null;
}


@{
    ViewBag.Title = "TimeSheet";
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>

    Employee emp = (Employee)Session["Employee"];
    List<TimeSheet> tsheets = (List<TimeSheet>)Session["TimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];

}

<!DOCTYPE html>
<html>
<body>

    <h2>Time Sheet</h2>
@{ string today = DateTime.Now.ToLongDateString(); }




    <p id="Time">It is @today</p>

    

    <table style="width:100%" cellpadding="4">
        <tr>
            <th>Date</th>
            <th>Start/ Time In</th>
            <th>Meal/ Time Out</th>
            <th>Meal/ Time In</th>
            <th>Finish/ Time Out</th>
            <th>Type of absence</th>
            <th>Absent hours</th>
            <th>Hours Worked</th>
            <th>Hours > 40 weekly</th>
        </tr>
        @using (Html.BeginForm("SaveTimeSheet", "Timesheet", FormMethod.Post))
        {
            for(int i=0; i<7; i++)
            {
                <tr>
                    <td>@tsheets[i].Date</td>
                    <td><input type="text" name="start" placeholder="@tsheets[i].TimeIn" /></td>
                    <td><input type="text" name="mealOut" placeholder="@tsheets[i].OutForLunch" /></td>
                    <td><input type="text" name="mealIn" placeholder="@tsheets[i].InFromLunch" /></td>
                    <td><input type="text" name="finish" placeholder="@tsheets[i].TimeOut" /></td>
                    <td><input type="text" name="typeOfAbsence" placeholder="@tsheets[i].LeaveId" /></td>
                    <td><input type="text" name="absentHours" placeholder="@tsheets[i].LeaveHours" /></td>
                    <td><input type="text" name="hoursWorked" placeholder="@tsheets[i].TotalHoursWorked" /></td>
                    <td>Over 8</td>
                    <td><input class="button" id="submit" type="submit" value="Save" /></td>
                </tr>
             }

         }
        <tr>
            <th colspan="5">Total weekly hours</th>
            <script>
                var tD = new Date();
                var datestr = (tD.getMonth() + ) + "/" + tD.getDate() + "/" + tD.getFullYear();
                document.write("<input type='text' name='textField' value='" + datestr + "'>");
            </script>
            <td><input type="text" name="totalWeekly" /></td>
            <th>Total absent hours</th>
            <td><input type="text" name="totalAbsent" /></td>
        </tr>
        <tr>
            <th colspan="9">Overtime hours x1.5 to be added to prior FLSA comp balance</th>
            <td><input type="text" name="overtime" /></td>
        </tr>
    </table>
</body>

<a href="@Url.Action("LogOut", "Login")">LogOut</a>

</html>