@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@{
    Layout = null;
}


@{
    ViewBag.Title = "TimeSheet";
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>

    Employee emp = (Employee)Session["Employee"];
    List<TimeSheet> tsheets = (List<TimeSheet>)Session["TimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];

}

<!DOCTYPE html>
<html>
<body>

    <h2>Time Sheet</h2>
@{ string today = DateTime.Now.ToLongDateString();
    string time = DateTime.Now.ToLongTimeString();}

    <p id="Time">It is @today at @time</p>


    <table style="width:100%" cellpadding="4">
        <tr>
            <th>Id</th>
            <th>Week end</th>
            <th>Date</th>
            <th>Start/ Time In</th>
            <th>Meal/ Time Out</th>
            <th>Meal/ Time In</th>
            <th>Finish/ Time Out</th>
            <th>Type of absence</th>
            <th>Absent hours</th>
            <th>Additional Hours</th>
            <th>Hours Worked</th>
            <th>Hours > 40 weekly</th>
            <th>Submitted</th>
            <th>Auth</th>
            <th>EmpId</th>
        </tr>
        @using (Html.BeginForm("SaveTimeSheet", "Timesheet", FormMethod.Post))
        {
            for(int i=0; i<7; i++)
            {
                <tr>
                    <td>@Html.TextBoxFor(model => model.Id, new { placeholder = tsheets[i].Id, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(model => model.WeekEnding, new { placeholder = tsheets[i].WeekEnding, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(model => model.Date, new { placeholder = tsheets[i].Date, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>@Html.EditorFor(model => model.TimeIn, new {placeholder = tsheets[i].TimeIn })</td>
                    <td>@Html.EditorFor(model => model.OutForLunch, new {placeholder = tsheets[i].OutForLunch})</td>
                    <td>@Html.EditorFor(model => model.InFromLunch, new {placeholder = tsheets[i].InFromLunch })</td>
                    <td>@Html.EditorFor(model => model.TimeOut, new {placeholder = tsheets[i].TimeOut })</td>
                    <td>@Html.EditorFor(model => model.LeaveId, new {placeholder = tsheets[i].LeaveId})</td>
                    <td>@Html.EditorFor(model => model.LeaveHours, new {placeholder = tsheets[i].LeaveHours})</td>
                    <td>@Html.EditorFor(model => model.AdditionalHours, new{placeholder = tsheets[i].AdditionalHours})</td>
                    <td>@Html.TextBoxFor(model => model.TotalHoursWorked, new { placeholder = tsheets[i].TotalHoursWorked, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>Over 8</td>
                    <td>@Html.TextBoxFor(model => model.Submitted, new { placeholder = tsheets[i].Submitted, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(model => model.AuthorizedBySupervisor, new { placeholder = tsheets[i].AuthorizedBySupervisor, disabled = "disabled", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(model => model.EmpId, new { placeholder = tsheets[i].EmpId, disabled = "disabled", @readonly = "readonly" })</td>
                    <td><input class="button" id="submit" type="submit" value="Save" /></td>
                </tr>
             }


         }
        <tr>
            <th colspan="5">Total weekly hours</th>
            <script>
                var tD = new Date();
                var datestr = (tD.getMonth() + ) + "/" + tD.getDate() + "/" + tD.getFullYear();
                document.write("<input type='text' name='textField' value='" + datestr + "'>");
            </script>
            <td><input type="text" name="totalWeekly" /></td>
            <th>Total absent hours</th>
            <td><input type="text" name="totalAbsent" /></td>
        </tr>
        <tr>
            <th colspan="9">Overtime hours x1.5 to be added to prior FLSA comp balance</th>
            <td><input type="text" name="overtime" /></td>
        </tr>
    </table>
</body>

<a href="@Url.Action("LogOut", "Login")">LogOut</a>

</html>

