@model Timesheet.Models.TimeSheet
@using Timesheet.Models
@using System.Diagnostics
@{
    Layout = null;
    SelectList employees = ViewBag.Employees;
}
<!--This html file isn't used in the solution yet-->
@{
    ViewBag.Title = "Approved Timesheets";
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    Employee sup = (Employee)Session["Supervisor"];

    Employee emp = (Employee)Session["Employee"];
    List<List<TimeSheet>> tsheets = (List<List<TimeSheet>>)Session["AppTimeSheetData"];
    List<string> dates = (List<string>)Session["Dates"];
    WeeklyReport weekly = new WeeklyReport();    
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Timesheet</title>
</head>
<body>


    <h2>Approved Timesheets</h2>
    @{
        string today = DateTime.Now.ToLongDateString();
        string time = DateTime.Now.ToLongTimeString();
    }
    <p id="time">It is @today at @time</p>
    @using (Html.BeginForm("ApprovedData", "ApprovedTimesheets", FormMethod.Post, new { role = "form" }))
    {
        //@Html.DropDownList("Employee", employees, "Select Employees", new { onchange = "this.form.submit();" })
        @Html.DropDownListFor(x => x.Name,
                                         Model.EmpNames,
                                         "-Select Employee-",
                                         new { onchange = "this.form.submit();" })
    }

    <table class="center">
        <tr>
            <th>Week End</th>
            <th>Employee Name</th>
            <th>Absent hours</th>
            <th>Worked hours</th>
            <th>Total hours</th>
            <th>Over Time</th>
            <th>FLSA Over Time</th>               
        </tr>
        @{
            if (tsheets != null)
            {
                foreach (List<TimeSheet> tsheet in @tsheets)
                {
                    weekly = weekly.getWeeklyReport(emp.Banner_ID, tsheet[0].WeekEnding.Trim());
                    Debug.WriteLine("List of List run!");
                    Debug.WriteLine("The weekending should be: " + weekly.WeekEnding);
                    <tr>
                        @{
                            <td>@tsheet[0].WeekEnding</td>
                            <td>@emp.First_Name @emp.Last_Name</td>
                            Debug.WriteLine("The weekly leave hours: " + weekly.LeaveHours);
                                if (!weekly.LeaveHours.Equals(""))
                                {
                                    <td>@weekly.LeaveHours</td>
                                }
                                else
                                {
                                    <td> 0 </td>
                                }      
                            <td>@weekly.HoursWorked</td>
                            <td>@weekly.TotalHoursWorked</td>
                            Debug.WriteLine("Overtime hours: " + weekly.Overtime);
                                if (!weekly.Overtime.Equals(""))
                                {
                                    <td>@weekly.Overtime</td>
                                }

                                else
                                {
                                    <td> 0 </td>
                                }                            
                            Debug.WriteLine("Overtime hours after multiplying by the FLSA 1.5 Weekly Timesheet: " + weekly.FLSA_Overtime);
                                if (!weekly.FLSA_Overtime.Equals(""))
                                {
                                    <td>@weekly.FLSA_Overtime</td>
                                }
                                else
                                {
                                    <td> 0 </td>
                                }                                         
                        }
                    </tr>
                }
            }
        }
    </table><br />

    <!--Like to go back-->
    <a href="@Url.Action("Index","Supervisor")">Home</a>

    <!--To Go to approved Timesheet Page-->
    <a href="@Url.Action("Reports", "Reports")"> Reports</a>

    <!--Log out link.-->
    <a href="@Url.Action("LogOut","Login")">LogOut</a>
</body>
</html>



