@using Timesheet.Models
@model Timesheet.Models.TimeSheet
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HR</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    @{var emp = (Employee)Session["Employee"];
        var paySumList = (List<PaySummary>)Session["PaySummaryList"];
        PaySummary paySum = null;
        }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>HR</h1>
        <p>Welcome @emp.FirstName @emp.LastName!</p>
        <br />
        
        @using (Html.BeginForm("GetPayData", "HR", FormMethod.Post, new { role = "form" }))
        {
            @Html.LabelFor(m => m.WeekEnding)
            @Html.DropDownListFor(m => m.WeekEnding,
           Model.WeekEndingDates,
           " - Please select a date - ",
           new { @class = "form-control"})
            <button type="submit">Search</button>
        }
        <br />

        
            @{
                if (@paySumList != null)
                {
                    <table>
                        <tr>
                            <th>Employee Name</th>
                            <th>Total Hours</th>
                            <th>Over Time</th>
                            <th>Time Sheet Status</th>
                            <th>Supervisor</th>
                        </tr>
                        foreach(@paySum in @paySumList)
                        {
                        <tr>
                            <td>
                             @paySum.EmpName   
                            </td>
                            <td>
                             @paySum.TotalHours
                            </td>
                            <td>
                             @paySum.OverTimeHours
                            </td>
                            <td>
                             @paySum.TimeSheetStatus
                            </td>
                            <td>
                             @paySum.SuperName
                            </td>
                        </tr>
                        }
                    </table>
                }
              }
            

          

        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>