@using Timesheet.Models
@model Timesheet.Models.TimeSheet

@{
    Layout = null;
    var message2 = "";

    var hr = (Employee)Session["HR"];
    var emps = new Employee();
    var paySumList = (List<WeeklyReport>)Session["PaySummaryList"];
    IEnumerable<SelectListItem> WeekendingList = (IEnumerable<SelectListItem>)Session["WeekendingList"];
    WeeklyReport weekly = new WeeklyReport();

}
<!--This screen renders after someone with the HR role logs in. It displays a menu for week ending date.
    After selection is submitted, a summary of hours worked by each employee that logged time that week
    is displayed.-->
<script type="text/javascript">

    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('PaySummary'); // id of table

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Reports.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }

    function checkTime(i)//Check for single digit numbers in the seconds and minutes of the live clock
    {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }

    function formatAMPM()//Methods makes live clock
    {
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        seconds = checkTime(seconds);
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
        document.getElementById('time').innerHTML = strTime;
        var t = setTimeout(formatAMPM, 500);
    }

    function leaveFieldEmpty(i) {
        var leaveid;
        var leaveHours;
        leaveHours = document.forms["frm" + i]["LeaveHours"].value;
        leaveid = document.forms["frm" + i]["LeaveId"].value;

        if (leaveid == '0' && leaveHours == '') {
            return true;
        }
        else if (leaveid != '0' && leaveHours != '') {
            return true;
        }
        else if (leaveid == '0' && leaveHours != '') {
            alert("Please make sure to enter an Absent Type.");
            return false;
        }
        else if (leaveid != '0' && leaveHours == '') {
            alert("Please make sure to enter Absent Hours.");
            return false;
        };

    }

</script>

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Sheet Summaries</title>
</head>

<body onload="formatAMPM()">
    <header class="text-center">
        <div>
            <center>
                <img class="img-responsive" src="http://www.chattahoocheetech.edu/wp-content/uploads/2017/02/the_essentials_new_website_header_revised_1200.jpg" alt="ChattahoocheeTech Banner Picture" width="1200" height="180" />
            </center>
            <a class="btn btn-default" href="@Url.Action("HRhelp", "Help")" style="float:right;  margin: 0em 15em 0em 0em;" target="_blank">Help</a><br />
        </div>
        <h2>Pay Sheet Summaries</h2>
        <p>Welcome @hr.First_Name @hr.Last_Name!</p>
        @{
            string today = DateTime.Now.ToLongDateString();
            string time = DateTime.Now.ToLongTimeString();
        }
        <p>It is @today <div id="time">@time</div></p>
    </header>
    <main class="text-center">
        <div class="noPrint dropdown">
            <p>Select a week to review employee pay sheet summaries.</p>
            <!--Form for selecting a week and viewing pay summaries-->
            @using (Html.BeginForm("GetPayData", "HR", FormMethod.Post, new { role = "form" }))
            {
                @Html.DropDownListFor(m => m.WeekEnding, WeekendingList, " - Please select a date - ", new { @class = "btn btn-default dropdown-toggle", onchange = "this.form.submit();" })
            }
        </div>
        @{
            if (@paySumList != null)
            {
                <div class="yesPrint container table-responsive">
                    <table class="center table table-bordered table-condensed" id="TimeSheet">
                        <caption style="background-color:lightgray; font-weight:bold;">Reports for the Week ending on @paySumList[0].WeekEnding</caption>
                        <tr>
                            <th style="display:none;">Weekending Date</th>
                            <th>Name, ID</th>
                            <th>Absent hours</th>
                            <th>Worked hours</th>
                            <th>Total hours</th>
                            <th>Over Time</th>
                            <th>FLSA Overtime</th>
                            <th>Time Sheet Status</th>
                            <th>Supervisor</th>
                        </tr>

                        @foreach (WeeklyReport paySum in @paySumList)
                        {
                            using (Html.BeginForm("GetOverview", "HR", FormMethod.Post))
                            {
                                <tr>
                                    <td style="display:none;"> @paySum.WeekEnding</td>
                                    @{ emps = emps.GetEmployee(Convert.ToInt16(@paySum.Banner_ID)); }
                                    @Html.HiddenFor(m => m.Banner_ID, new { @Value = @paySum.Banner_ID })
                                    <td>
                                        <button class="btn btn-default" id="submit" type="submit" value="@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID">@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID</button>
                                    </td>
                                    <td>
                                        @paySum.LeaveHours
                                    </td>
                                    <td>
                                        @paySum.HoursWorked
                                    </td>
                                    <td>
                                        @paySum.TotalHoursWorked
                                    </td>
                                    <td>
                                        @paySum.Overtime
                                    </td>
                                    <td>
                                        @paySum.FLSA_Overtime
                                    </td>
                                    <td>
                                        @paySum.TimesheetStatus
                                    </td>
                                    <td>
                                        @paySum.SupervisorName
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <iframe id="txtArea1" style="display:none"></iframe>
                </div>
            }
        }
    </main>
    <footer>
        <div class="noPrint text-center">
            <button class="btn btn-default" id="btnExport" onclick="fnExcelReport();">Export Report </button>
            <br /><br />
            <!--Log out link-->
            <a class="btn btn-default" href="@Url.Action("LogOut", "Login")">LogOut</a>
        </div>
    </footer>
</body>
</html>