@using Timesheet.Models
@model Timesheet.Models.TimeSheet

@{
    Layout = null;
    var message2 = "";

}
<!--This screen renders after someone with the HR role logs in. It displays a menu for week ending date.
    After selection is submitted, a summary of hours worked by each employee that logged time that week
    is displayed.-->
<script type="text/javascript">

    function fnExcelReport()
    {
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j=0;
        tab = document.getElementById('PaySummary'); // id of table

        for(j = 0 ; j < tab.rows.length ; j++)
        {
            tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Reports.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }

</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link rel="stylesheet" href="~/Content/Style.css" type="text/css"/>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Sheet Summaries</title>
</head>

<body>
    <!--Get employee and pay summary objects from the session.-->
    @{
        var hr = (Employee)Session["HR"];
        var emps = new Employee();
        var paySumList = (List<WeeklyReport>)Session["PaySummaryList"];
        IEnumerable<SelectListItem> WeekendingList = (IEnumerable<SelectListItem>)Session["WeekendingList"];
        WeeklyReport weekly = new WeeklyReport();
    }
    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
        <a href="@Url.Action("HRhelp", "Help")" style="float:right;  margin: 0em 15em 0em 0em;" target="_blank">Help</a><br />
    </div>
    <div>
        <h1>Pay Sheet Summaries</h1>
        <!--Display HR person's first and last name-->
        <p>Welcome @hr.First_Name @hr.Last_Name!</p>
        <p>@message2</p>
        <p>Select a week to review employee pay sheet summaries.</p>
        <!--Form for selecting a week and viewing pay summaries-->
        @using (Html.BeginForm("GetPayData", "HR", FormMethod.Post, new { role = "form" }))
        {
            @Html.LabelFor(m => m.WeekEnding)
            <span>&nbsp;</span>
            @Html.DropDownListFor(m => m.WeekEnding, WeekendingList, " - Please select a date - ", new { @class = "form-control", onchange = "this.form.submit();" })
        }
        @{
            if (@paySumList != null)
            {
                <p>Reports for the Week ending on @paySumList[0].WeekEnding</p>
                <!--Table to display pay summaries from the session-->
                <table class="center" id="PaySummary">
                    <thead>
                        <tr>
                            <th style="display:none;">Weekending Date</th>
                            <th>Name, ID</th>
                            <th>Absent hours</th>
                            <th>Worked hours</th>
                            <th>Total hours</th>
                            <th>Over Time</th>
                            <th>FLSA Overtime</th>
                            <th>Time Sheet Status</th>
                            <th>Supervisor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WeeklyReport paySum in @paySumList)
                        {
                            using (Html.BeginForm("GetOverview", "HR", FormMethod.Post))
                            {
                                <tr>
                                    <td style="display:none;"> @paySum.WeekEnding</td>
                                    @{ emps = emps.GetEmployee(Convert.ToInt16(@paySum.Banner_ID)); }
                                    @Html.HiddenFor(model => model.Banner_ID)
                                    <td>
                                        <button id="submit" type="submit" value="@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID">@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID</button>
                                    </td>
                                    <td>
                                        @paySum.LeaveHours
                                    </td>
                                    <td>
                                        @paySum.HoursWorked
                                    </td>
                                    <td>
                                        @paySum.TotalHoursWorked
                                    </td>
                                    <td>
                                        @paySum.Overtime
                                    </td>
                                    <td>
                                        @paySum.FLSA_Overtime
                                    </td>
                                    <td>
                                        @paySum.TimesheetStatus
                                    </td>
                                    <td>
                                        @paySum.SupervisorName
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    </div><br />
    <iframe id="txtArea1" style="display:none"></iframe>
    <button id="btnExport" onclick="fnExcelReport();">Export Report </button>

    <!--Log out link-->
    <a href="@Url.Action("LogOut", "Login")">LogOut</a>
</body>
</html>