@using Timesheet.Models
@model Timesheet.Models.TimeSheet

@{
    Layout = null;
}
<!--This screen renders after someone with the HR role logs in. It displays a menu for week ending date.
    After selection is submitted, a summary of hours worked by each employee that logged time that week
    is displayed.-->
<script>            
    function fnExcelReport()
    {
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j=0;
        tab = document.getElementById('PaySummary'); // id of table

        for(j = 0 ; j < tab.rows.length ; j++) 
        {     
            tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        }

        tab_text=tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
        tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE "); 

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus(); 
            sa=txtArea1.document.execCommand("SaveAs",true,"Reports.xls");
        }  
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

        return (sa);
    }
</script>

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Sheet Summaries</title>
</head>

<body>
    <!--Get employee and pay summary objects from the session.-->

    @{var hr = (Employee)Session["HR"];
        var emps = new Employee();
        var paySumList = (List<PaySummary>)Session["PaySummaryList"];
    }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>Pay Sheet Summaries</h1>
        <!--Display HR person's first and last name-->
        <p>Welcome @hr.First_Name @hr.Last_Name!</p>

        <!-- Rounded switch -->
        <label class="switch">
            @Html.CheckBoxFor(model => model.IsEnabled, new {@checked = "checked"})
            <div class="slider round">
            </div>
        </label>

        <br />
        <p>Select a week to review employee pay sheet summaries.</p>
        <!--Form for selecting a week and viewing pay summaries-->
        @using (Html.BeginForm("GetPayData", "HR", FormMethod.Post, new { role = "form" }))
        {
            @Html.LabelFor(m => m.WeekEnding)
            @Html.DropDownListFor(m => m.WeekEnding,
                                                 Model.WeekEndingDates,
                                                 " - Please select a date - ",
                                                 new { @class = "form-control" })
            <button type="submit">Search</button>
        }
        <br />

        <!--Table to display pay summaries from the session-->
        <table style="width:100%" cellpadding="4" id="PaySummary">
            <thead>
                <tr>
                    <th>Name, ID</th>
                    <th>Worked hours</th>
                    <th>Over Time</th>
                    <th>FLSA Overtime</th>
                    <th>Absent hours</th>
                    <th>Time Sheet Status</th>
                    <th>Supervisor</th>
                    @*<th>Overview</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    if (@paySumList != null)
                    {
                        foreach (PaySummary paySum in @paySumList)
                        {
                            using (Html.BeginForm("GetOverview", "HR", FormMethod.Post))
                            {

                                <tr>
                                    @{Model.Banner_ID = paySum.Banner_ID;
                                        emps = emps.GetEmployee(Convert.ToInt16(@paySum.Banner_ID));}
                                    @Html.HiddenFor(model => model.Banner_ID)
                                    <td>
                                        <button id="submit" type="submit" value="@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID">@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID</button>
                                        @*<a href="mailto:@emps.Email_Address.Trim()">@emps.First_Name.Trim() @emps.Last_Name.Trim(), @emps.Banner_ID</a>*@
                                    </td>
                                    <td>
                                        @paySum.TotalHours
                                    </td>
                                    <td>
                                        @paySum.OverTimeHours
                                    </td>
                                    <td>
                                        @paySum.OverTimeHoursFLSA
                                    </td>
                                    <td>
                                        @paySum.TotalAbsent
                                    </td>
                                    <td>
                                        @paySum.TimeSheetStatus
                                    </td>
                                    <td>
                                        @paySum.SuperName
                                    </td>
                                    @*<td>
                                        <button id="submit" type="submit" value="Overview">Overview</button>
                                    </td>*@
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div><br />
    <iframe id="txtArea1" style="display:none"></iframe>
    <button id="btnExport" onclick="fnExcelReport();">Export Report </button>

    <!--Log out link-->
    <a href="@Url.Action("LogOut", "Login")">LogOut</a>
</body>
</html>