@model Timesheet.Models.Login

@{
    Layout = null;
}

<!--This is the screen where users log in to the system.  It is the first screen that appears when
    the solution runs.-->

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!--Style info for the screen-->
    <style>
        table, th, td {
            border: none;
        }
    </style>
</head>
<body>
    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
    </div>
    <div id="login-div">


        <!--The login form-->
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
        <label class="field-validation-error" style="color:red">@Html.DisplayFor(model => Session["Error"])</label>
        <table>
            <tr>
                <td></td>
                <td style="text-decoration: underline"></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Username)
                </td>
                <td>
                    @Html.EditorFor(model => model.Username)

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <Button type="Submit" name="name" value="Login">Login</Button>
                        <button type="reset" name="name" value="Clear">Clear</button>
                    </td>
                </tr>
            </table>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
