@using Timesheet.Models

@{
    Layout = null;
}
<script type="text/javascript">
    window.setTimeout(function () {
        // This will execute 5 seconds later
        var label = document.getElementById('Message');
        if (label != null) {
            label.style.display = 'none';
        }

    }, 4000);

    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }

    function formatAMPM() {
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        //minutes = checkTime(minutes);
        seconds = checkTime(seconds);
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
        document.getElementById('time').innerHTML = strTime;
        var t = setTimeout(formatAMPM, 500);
    }
</script>

<!--This is the employee dashboard screen. It renders after someone with the employee role logs in-->

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>

<body onload="formatAMPM()">
    <!--Get the employee object out of the session-->
    @{var emp = (Employee)Session["Employee"];}
    <header class="text-center">
        <div>
            <center>
                <img class="img-responsive" src="http://www.chattahoocheetech.edu/wp-content/uploads/2017/02/the_essentials_new_website_header_revised_1200.jpg" alt="ChattahoocheeTech Banner Picture" width="1200" height="180">
            </center>
            <a class="btn btn-default" href="@Url.Action("Emphelp", "Help")" style="float:right;  margin: 1% 1% 0% 0%;" target="_blank">Help</a><br />
        </div><br />
        <h2>Employee</h2>
        <p>Welcome @emp.First_Name @emp.Last_Name!</p>
        @{
            string today = DateTime.Now.ToLongDateString();
            string time = DateTime.Now.ToLongTimeString();
            string CurrentDate = DateTime.Now.ToShortDateString();
        }
        <p>It is @today <div id="time">@time</div></p>
    </header>
    <footer>
        <div class="text-center">
            <!--Link to get to the timesheet input screen-->
            <a class="btn btn-default" href="@Url.Action("GetTimeSheet","Timesheet")">Weekly Timesheet</a>

            <a class="btn btn-default" href="@Url.Action("GetDailyTimeSheet","Timesheet")">Daily Timesheet</a>

            <a class="btn btn-default" href="@Url.Action("OldTimesheet","Timesheet")">Look Up Previous Timesheet</a>

            <a class="btn btn-default" href="@Url.Action("QuickTimeStamp","Timesheet")">Quick Time Stamp</a>

            <p>
                <label id="Message">@Html.DisplayFor(model => Session["Message"])</label>
            </p>
            <!--Log out link-->
            <a class="btn btn-default" href="@Url.Action("LogOut", "Login")">LogOut</a>
        </div>
    </footer>
</body>
</html>