@using Timesheet.Models

@{
    Layout = null;
}

<!--This is the employee dashboard screen. It renders after someone with the employee role logs in-->

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/main.css" type="text/css"/>

   <meta name="viewport" content="width=device-width" /> 
    <style>
<<<<<<< HEAD

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
    <title>Employee</title>

=======
        table, th, td {
            border: none;
        }
    </style>
>>>>>>> master
</head>

<body>
    <!--Get the employee object out of the session-->
    @{var emp = (Employee)Session["Employee"]; }

    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
    </div>
    <div>
        <h1>Employees</h1>
        <!--Display the employee's first and last name-->
        <p>Welcome @emp.FirstName @emp.LastName!  Click below to record your time.</p>

<<<<<<< HEAD
        
           
                <!--Link to get to the timesheet input screen-->
                <form action="@Url.Action("GetTimeSheet", "Timesheet")">
                    <input type="submit" value="Weekly Timesheet">


                </form>
                </br>

                <!--     <a href=" Url.Action("GetTimeSheet","Timesheet")">Timesheet</a> -->

           
            
                <form action="@Url.Action("GetDailyTimeSheet","Timesheet")">
                    <input type="submit" value="Daily Timesheet">

                </form>
                <!--      <a href="Url.Action("GetDailyTimeSheet","Timesheet")">Daily Timesheet</a> -->
            </br>
=======
        <ul>
            <li>
                <!--Link to get to the timesheet input screen-->
                <a href="@Url.Action("GetTimeSheet","Timesheet")">Weekly Timesheet</a>
            </li>
            <li>
                <a href="@Url.Action("GetDailyTimeSheet","Timesheet")">Daily Timesheet</a>
            </li>
        </ul>
>>>>>>> master
        <!--Log out link-->

        <form action="@Url.Action("LogOut", "Login")">
            <input type="submit" value="LogOut">
            </form>
            <!--    <a href="Url.Action("LogOut", "Login")">LogOut</a> -->
</div>
</body>
</html>