@using Timesheet.Models

@{
    Layout = null;
}

<!--This is the employee dashboard screen. It renders after someone with the employee role logs in-->

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
    <style>
        table, th, td {
            border: none;
        }
    </style>
</head>

<body>
    <!--Get the employee object out of the session-->
    @{var emp = (Employee)Session["Employee"]; }

    <div>
        <center>
            <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        </center>
    </div>
    <div>
        <h1>Employees</h1>
        <!--Display the employee's first and last name-->
        <p>Welcome @emp.FirstName @emp.LastName!  Click below to record your time.</p>

        <ul>
            <li>
                <!--Link to get to the timesheet input screen-->
                <a href="@Url.Action("GetTimeSheet","Timesheet")">Weekly Timesheet</a>
            </li>
            <li>
                <a href="@Url.Action("GetDailyTimeSheet","Timesheet")">Daily Timesheet</a>
            </li>
        </ul>
        <!--Log out link-->
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>