@model IEnumerable<Timesheet.Models.TimeSheet>
@using Timesheet.Models;
@{
    Layout = null;
    ViewBag.Title = "Reports";

    <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h2>Reports</h2>
@Html.DropDownList("Employees", "Select Employees")
<br />
<a href="#" onclick="history.back();">Back</a>

<p>
    @Html.ActionLink("TimeSheets New", "TimeSheets")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekEnding)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.TimeIn)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.OutForLunch)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.InFromLunch)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOut)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveId)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveHours)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalHours)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHoursWorked)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.WeekEnding)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.Date)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.TimeIn)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.OutForLunch)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.InFromLunch)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.TimeOut)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.LeaveId)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.LeaveHours)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.AdditionalHours)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.TotalHoursWorked)
            </td>
            <td></td>
            <td></td>
            <td>
                @Html.DisplayFor(ModelItem => item.EmpId)
            </td>
        </tr>

     }
</table>
