@using Timesheet.Models
@{
    Layout = null;
}

<!--This is the dashboard for anyone that logs in with the Supervisor role. It displays links to the
    reports and approved timesheet views.-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor</title>
    <style>
        body {
            background-color: cadetblue;
            font-family: Arial;
        }

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <!--Get employee object from the session.-->
    @{var emp = (Employee)Session["Employee"]; }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>Supervisor</h1>
        <!--Display employee first and last name.-->
        <p>Welcome @emp.FirstName @emp.LastName!</p>

        <!--Links to reports and approved time sheets-->
        <ul>
            <li>
                <a href="@Url.Action("Index", "Reports")"> Reports</a>
            </li>
            <li>
                <a href="@Url.Action("ApprovedTimesheets", "ApprovedTimesheets")">Approved Timesheet</a>
            </li>
            
        </ul>

        <!--Log out link-->
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>