@using Timesheet.Models
@{
    Layout = null;
}

<!--This is the dashboard for anyone that logs in with the Supervisor role. It displays links to the
    reports and approved timesheet views.-->

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor</title>
</head>

<body>
    <!--Get employee object from the session.-->
    @{var sup = (Employee)Session["Supervisor"]; }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
    </div>
    <div>
        <h1>Supervisor</h1>
        <!--Display employee first and last name.-->
        <p>Welcome @sup.First_Name @sup.Last_Name!</p>

        <!--Links to reports and approved time sheets-->
        <p>
            <a href="@Url.Action("Reports", "Reports")">Reports</a>

            <a href="@Url.Action("ApprovedTimesheets", "ApprovedTimesheets")">Approved Timesheet</a>
        </p>
        <!--Log out link-->
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
</body>
</html>