@using Timesheet.Models
@{
    Layout = null;
    Session.Remove("TimeSheetData");
    Session.Remove("AppTimeSheetData");
}

<script>

    function checkTime(i)//Check for single digit numbers in the seconds and minutes of the live clock
    {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }

    function formatAMPM()//Methods makes live clock
    {
        var today = new Date();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        seconds = checkTime(seconds);
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
        document.getElementById('time').innerHTML = strTime;
        var t = setTimeout(formatAMPM, 500);
    }

    function leaveFieldEmpty(i) {
        var leaveid;
        var leaveHours;
        leaveHours = document.forms["frm" + i]["LeaveHours"].value;
        leaveid = document.forms["frm" + i]["LeaveId"].value;

        if (leaveid == '0' && leaveHours == '') {
            return true;
        }
        else if (leaveid != '0' && leaveHours != '') {
            return true;
        }
        else if (leaveid == '0' && leaveHours != '') {
            alert("Please make sure to enter an Absent Type.");
            return false;
        }
        else if (leaveid != '0' && leaveHours == '') {
            alert("Please make sure to enter Absent Hours.");
            return false;
        };

    }

</script>

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor</title>
</head>

<body onload="formatAMPM()">
    <!--Get employee object from the session.-->
    @{var sup = (Employee)Session["Supervisor"]; }
    <header class="text-center">
        <div>
            <center>
                <img class="img-responsive" src="http://www.chattahoocheetech.edu/wp-content/uploads/2017/02/the_essentials_new_website_header_revised_1200.jpg" alt="ChattahoocheeTech Banner Picture" width="1200" height="180">
            </center>
            <a class="btn btn-default" href="@Url.Action("Suphelp", "Help")" style="float:right; margin:1% 1% 0% 0%;" target="_blank">Help</a><br />
        </div><br />
        <h2>Supervisor</h2>
        <p>Welcome @sup.First_Name @sup.Last_Name!</p>
        @{
            string today = DateTime.Now.ToLongDateString();
            string time = DateTime.Now.ToLongTimeString();
        }
        <p>It is @today <div id="time">@time</div></p>
    </header>
    <footer>
        <div class="text-center">
            <!--Links to reports and approved time sheets-->
            <a class="btn btn-default" href="@Url.Action("Reports", "Reports")"> Reports</a>

            <a class="btn btn-default" href="@Url.Action("ApprovedTimesheets", "ApprovedTimesheets")">Approved Timesheet</a>
            <br /><br />
            <!--Log out link-->
            <a class="btn btn-default" href="@Url.Action("LogOut", "Login")">LogOut</a>
        </div>
    </footer>
</body>
</html>