@using Timesheet.Models
@{
    Layout = null;
}

<!--This is the dashboard for anyone that logs in with the Supervisor role. It displays links to the
    reports and approved timesheet views.-->

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor</title>
</head>

<body>
    <!--Get employee object from the session.-->
    @{var sup = (Employee)Session["Supervisor"]; }
    <div>
        <img src="~/Content/ChatLogo.jpg" alt="ChatLogo" height="250" width="1520" />
        <a href="Help/SupHelp.cshtml" class="button">Help</a>
        @Html.ActionLink("Menus", "SupHelp", "Help", null, new { @class = "Button" })

    </div>
    <div>
        <h1>Supervisor</h1>
        <!--Display employee first and last name.-->
        <p>Welcome @sup.First_Name @sup.Last_Name!</p>

        <!--Links to reports and approved time sheets-->
        <ul class="unstyled">
            <li>
                <a href="@Url.Action("Index", "Reports")"> Reports</a>
            </li>
            <li>
                <a href="@Url.Action("ApprovedTimesheets", "ApprovedTimesheets")">Approved Timesheet</a>
            </li>
            <li>
                <!--Log out link-->
                <a href="@Url.Action("LogOut", "Login")">LogOut</a>
            </li>
        </ul>
    </div>
</body>
</html>